@model IEnumerable<Projektuppgift.Models.Booking>

@{
    ViewData["Title"] = "Bokningar";
}
<section class="bookings-main">
    <h2>Aktuella bokningar</h2>
    <div class="bookings-text">
        <p>Här kan du se vilken förening som bokat vilken lokal och när.</p>
    </div>

    <p>
        <a class="create-link" asp-action="Create">Gör en ny bokning</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Lokal</th>
                <th>Förening</th>
                <th>Från</th>
                <th>Till</th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @(item.Facility?.Name ?? "Saknas")
                </td>
                <td>
                    @(item.Association?.Name ?? "Saknas")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="edit-link" asp-action="Edit" asp-route-id="@item.BookingId">Redigera</a> |
                    <a class="details-link" asp-action="Details" asp-route-id="@item.BookingId">Detaljer</a> |
                    <a class="delete-link" asp-action="Delete" asp-route-id="@item.BookingId">Radera</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>