@model IEnumerable<Projektuppgift.Models.Facility>

@{
    ViewData["Title"] = "Bokningsbara lokaler";
}

<section class="facilities-main">
    <h2>Bokningsbara lokaler</h2>

    <p>
        <a class="create-link" asp-action="Create">Lägg till ny lokal</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Namn </th>
                <th>Adress</th>
                <th>Beskrivning</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="edit-link" asp-action="Edit" asp-route-id="@item.FacilityId">Redigera</a> |
                    <a class="details-link" asp-action="Details" asp-route-id="@item.FacilityId">Detaljer</a> |
                    <a class="delete-link" asp-action="Delete" asp-route-id="@item.FacilityId">Radera</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>