@model IEnumerable<Projektuppgift.Models.Association>

@{
    ViewData["Title"] = "Index";
}

<main class="associations-main">
    <h2>Idrottsföreningar i Arvidsjaur</h2>

    <p>
        <a class="create-link" asp-action="Create">Lägg till ny förening</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Föreningsnamn</th>
                <th>E-postadress</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    <a class="edit-link" asp-action="Edit" asp-route-id="@item.AssociationId">Redigera</a> |
                    <a class="details-link" asp-action="Details" asp-route-id="@item.AssociationId">Detaljer</a> |
                    <a class="delete-link" asp-action="Delete" asp-route-id="@item.AssociationId">Radera</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</main>